/* regole generali */

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.container {

  /* debug */
  margin:auto;
  /* fine debug */
}

.center {

  width: 70%;
  margin:auto;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;

}

/* regole header */

.nav {
  /* debug */
  height: 142px;
  margin:auto;
  background: red;
  /* fine debug */
}

.toolbar.center {

  height: 70px;
  background: green
}

/* regole main */

/* jumbotron */
#jumbotron {

 width: 100%;
}

#jumbosection {
  position: relative;
}

.jumbotext{

  position: absolute;
  top:50%;
  left:50%;
  transform: translate( -50%, -50% );
  /* debug */
  height: 400px;
  background: blue;
  opacity: 0.2;
  /* fine debug */
}

/* fine jumbotron */

/* inizio main */

/* inizio columns section */

.cubelogo {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* hat section */

.hat {
  margin-top: 50px;
  /* debug */
  height: 300px;
  background: yellow;
  opacity: 0.2;
  /* fine debug */

}

/* columns */

.columns {

  margin-top: 20px;
  margin-bottom: 20px;
  /* debug */
  height: 400px;
  background: green;
  opacity: 1;
  /* fine debug */
}

.boxes {
  float:left;
  width: 30%;
    /* debug */
  height:400px;
  background: purple;
  opacity: 0.5;
  /* fine debug */
}

#specialbox {
  margin:0 5%;
}
/* fine columns */

/* inizio grid section */

.gridsection {

  /* debug */
  height: 600px;
  background: black;
  opacity: 0.3;
  /* fine debug */
}

.gridtext {

  /* debug */
  height: 200px;
  background: pink;
  opacity: 0.4;
  /* fine debug */
}

.grid {

  /* debug */
  height: 400px;
  background: yellow;
  opacity: 0.4;
  /* fine debug */
}

/* fine grid section */

/* inizio prefooter section */

.prefooterlogo {

  /* debug */
  height:300px;
  background: red;
  opacity: 0.3;
  /* fine debug */
}

.prefooterimg {

 /* debug */
 height:500px;
 background: black;
 opacity: 0.3;
}

/* fine prefooter section */

/* inizio footer */

.creditbox {
  float:left;
  width: 20%;
  margin:2%;
    /* debug */
  height:300px;
  background: yellow;
  opacity: 0.5;
  /* fine debug */

}

.credits {

  /* debug */
  height:500px;
  background:blue;
  opacity: 0.5;
  /* fine debug */

}

.contacts {

  /* debug */
  /* height:400px; */
  background:black;
  opacity: 0.5;
  /* fine debug */
}

.lenguages {

  /* debug */
  height: 48px;
  background: red;
  opacity: 0.3;
  /* fine debug */
}
.copyright {

  /* debug */
  height: 100px;
  background: yellow;
  opacity: 0.3;
  /* fine debug */
}

/* fine footer */
