/* regole generali */

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {

  padding-top: 140px;

}

footer {

  background: #2d3e50;

}

.bgcolor-nav {

 background: #f0f4f7;

}

.bgcolor-section {

 background:#fff;

}

.nav {

  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #fff;

}

.container {

 background-color: #f0f4f7;

}

.center {

  width: 70%;
  margin:auto;

}

.clearfix::after {

  content: "";
  display: table;
  clear: both;

}

/* regole header */

.nav {

  height: 142px;
  margin:auto;
  border-bottom: 1px solid #32495b;

}

.toolbar.center {

  height: 70px;

}

.left.clearfix , .right.clearfix {

  float:left;
  position: relative;
  height: 100%;
  width: 50%;

}

/* header > toolbar superiore */

/* left side */

.menutoolbar {

  height: 100%;
  float: left;
  margin-right: 30px;
  font-size: 13px;

}

#linkborder {

    padding: 1px 25px 1px 0;
    border-right: 1px solid black;

}

.menutoolbar a,.menutoolbar i {

  text-decoration: none;
  color:#32495b;
  line-height: 70px;
  cursor:pointer;

}

input[type=text] {

  width: 70px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  margin-right: 20px;
}

input[type=text]:focus {

  width: 80%;
}

.menutoolbar strong:hover {

opacity: 0.5;

}

/* right side */

.button {

  font-size: 13px;
  line-height: 70px;
  margin-left: 40px;
  color:white;
  float:right;

}

.button.colored  a {

  text-decoration: none;
  color:black;
  line-height: 70px;
  cursor:pointer;
  border: 1px solid #ff7a59;
  padding: 10px;
  border-radius: .1875rem;

}

#freehub {

  background: #ff7a59;
  color:white;

}

#freehub:hover {

transition: 0.8s ease-in-out;

}

#login {

 background: white;
 color:#ff7a59;

}

#login:hover {

  transition: 0.8s ease-in-out;

}

#searchcolor {

  color:blue;

}

/* toolbar inferiore */

/* left side */

.left.clearfix > img {

 position: absolute;
 left:0;
 top:50%;
 transform: translate( 0 , -50%);

}

/* right side */

.right.clearfix span {

  float:right;
  line-height: 70px;
  margin-left: 40px;

}

.right.clearfix a {

  text-decoration: none;
  color: #32495b;

}

.right.clearfix a:hover {

opacity: 0.5;

}

/* regole main */

/* jumbotron */
#jumbotron {

 width: 100%;
}

#jumbosection {

  position: relative;

}

.jumboitem strong {

color:#F3EFEF;

}

.jumboitem strong:hover {

color:white;

}

.jumbotext{

  width: 70%;
  margin:auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate( -50%, -50% );
  top:220px;

}

.textjumbo {

  margin-top: 150px;
  color:#32495b;

}

.textjumbo h1 {

  font-size: 45px;
  margin-bottom: 30px;

}

.buttonjumbo {

  position:relative;

}

.textjumbo a  {

  text-decoration: none;
  color:white;
  cursor:pointer;
  border: 1px solid #ff7a59;
  padding: 20px;
  border-radius: .1875rem;
  background: #ff7a59;

 }

 .jumboitem {

   margin-bottom: 60px;

 }

 .jumboitem p {

   line-height: 30px;

 }

 .jumboitem h6 {

   font-size: 13px;

 }

/* fine jumbotron */

/* inizio main */

/* inizio columns section */

/* logo */

.cubelogo {

  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
  color:#2d3e50;


}

.cubelogo img {

  width: 300px;

}

.cubelogo h1 {

  font-size: 35px;
  margin-bottom: 30px;

}

.cubelogo p {

  line-height: 30px;
  margin-bottom:30px;

}

/* hat section */

.hat {

  margin-top: 50px;
  background-color: white;
  box-shadow:0 1px 4px rgba(173,216,230 , 0.2), 0 0 40px rgba(173,216,230 ,0.2)
  inset;
  min-height: 400px;
  transition: transform .5s;

}

.hat:hover {

transform: scale(1.07);
transition: transform .5s;

}

  /* left hat */
.lhat {

  float:left;
  height: 100%;
  width: 33%;
  text-align: center;
  color:#2d3e50;

}

.lhat img {

  margin-left: 20px;
  margin-top: 70px;
  margin-bottom: 40px;
  width: 170px;

}

.crm-button a  {

  margin-left: 20px;
  text-decoration: none;
  color:#F3EFEF;
  cursor:pointer;
  border: 1px solid #ff7a59;
  padding: 20px 40px 20px 40px;
  border-radius: .1875rem;
  background: #ff7a59;

 }

.crm-button strong:hover {

color:white;

}

  /* right hat */
.rhat {

  position: relative;
  float:left;
  height: 100%;
  width: 67%;
  margin-top: 30px;
  color:#2d3e50;

}

.rhat h3 {

  display: inline-block;

}

.line {

  float:right;
  top:200px;
  left: 250px;
  position: absolute;
  height: 1px;
  width: 450px;
  border-bottom: 2px solid black;

}

.rhat  h1,.rhat p,.hat h3, .rhat span,.rhat i{

  margin-top: 35px;

}

.rhat p {

  line-height: 30px;

}

.rhat i {

  color:#ff7a59;

}

/* columns */

.columns {

  margin-top: 40px;
  margin-bottom: 20px;

}

.boxes {

  float:left;
  width: 30%;
  background: white;
  box-shadow:0 1px 4px rgba(173,216,230 , 0.2), 0 0 40px rgba(173,216,230 ,0.3)inset;
  min-width: 30%;
  padding: 20px;
  color:#2d3e50;
  transition: transform .5s;

}

.boxes:hover {

transform: scale(1.07);

}

#specialbox {

  margin-left: 5%;
  margin-right: 5%;

}

/* parte superiore columns  */

.boxes-img  {

 text-align: center;

}



.boxes-img img{

  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
  min-width: 100px;
  margin-top: 10px;

}

.boxes-img p, .boxes-img h1 {

  margin-top: 30px;
  line-height: 30px;

}

/* parte inferiore columns */

.boxes-item {

  margin: 30px 0px 30px 0px;
  text-align: center;
  border-top: 1px solid #32495b;

}

.boxes-item h3 {

  margin-top: 30px;

}

.boxes-item-position {

  margin-top: 50px;
  text-align: left;
  margin-bottom: 80px;

}

.boxes-item-position i {

color:#ff7a59;

}

.crm-button-boxes a  {

  margin-top: 30px;
  text-decoration: none;
  color:#F3EFEF;
  cursor:pointer;
  border: 1px solid #ff7a59;
  padding: 20px 40px 20px 40px;
  border-radius: .1875rem;
  background: #ff7a59;

 }

.crm-button-boxes a:hover {

 color:white;

}



/* fine columns */

/* inizio grid section */

.gridsection {

  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  padding-bottom: 100px;
  padding-top: 100px;
  margin-top: 50px;

}

/* parte superiore grid */

.gridtext {

  color:white;
  text-align: center;

}

.gridtext p {

  line-height: 40px;
  margin:40px auto;
  font-size: 14px;

}

/* parte inferiore grid */

.gridbox {

  float:left;
  width: 25%;
  min-height: 200px;
  padding:30px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;

}

.gridboxup  {

  text-align: center;

}

.gridboxdown  {

  position: relative;
  text-align: center;
  margin-top: 20px;

}

.gridboxup i {

  width: 100%;
  color:white;

}

.gridboxdown h1 {

  display: inline-block;
  font-size: 40px;
  color:white;

}

.gridboxdown span {

 position: absolute;
 top: 15px;
 font-size: 20px;
 margin-bottom: 50px;
 color:white;

}

.gridboxdown p {

  font-size: 13px;
  margin-top: 20px;
  color:white;

}

.gridbox:nth-child(1n+5){

border-bottom: 0;

}

.gridbox:nth-child(4n+4){

  border-right:0;

}

/* fine grid section */

/* inizio prefooter section */

.prefooterlogo {

  min-height:300px;
  padding-top: 50px;

}

.prefooterimg {

 height: 500px;

}

/* prefooterlogo left */

.prefooterlogo-left {

  float:left;
  width: 40%;
  padding-left: 100px;
  margin-top: 20px;

}

.prefooterlogo-left h1 {

 font-size: 60px;
 color:#2d3e50;

}

.prefooterlogo-left p {

  margin-top: 20px;
  line-height: 30px;
  margin-left: 10px;
  color:#2d3e50;

}

/* prefooterlogo right */

.prefooterlogo-right {

  float:left;
  width: 60%;
  margin-top: 50px;

}

.prefootersponsor {

  float:left;
  text-align: center;
  width: 25%;

}

.prefootersponsor img {

  left:0;
  top:50%;
  transform: translate( 0 , -50%);
  max-width: 150px;
  max-height: 70px;
  padding: 10px;

}

/* prefooterimg left */

/*
.prefooterimg {

  position: relative;

} */

.prefooterimg-text {

  float:left;
  width: 50%;

}

.prefooterimg-item {

margin-top: 20px;
margin-bottom: 50px;

}

.prefooterimg-item h1 {

  font-size: 35px;
  margin-top:30px;
  color:#2d3e50;

}

.prefooterimg-item p {

  font-size:15px;
  color:#2d3e50;

}

.prefooterimg-item a {

  text-decoration: none;
  color:#F3EFEF;
  cursor:pointer;
  border: 1px solid #ff7a59;
  padding:20px;
  border-radius: .1875rem;
  background: #ff7a59;

}

.prefooterimg-item a:hover {

color:white;

}

/* prefooterimg right */

.prefooterimg-logo {

  float:left;
  height: 100%;
  width: 50%;

}

.prefooterimg-logo img {

   float:right;
   max-height: 80%;

}


/* fine prefooter section */

/* inizio footer */

.creditbox {

  float:left;
  width: 20%;
  margin:2%;

}

.credits {

 min-height:500px;

}

.creditbox ul {

  list-style: none;

}

.creditbox li  {

  line-height: 40px;

}

.creditbox strong {

  color:white;

}

.creditbox a {

  color:lightblue;
  text-decoration: none;

}

.creditbox a:hover {

color:white;

}

#contactbutton {

    text-decoration: none;
    color:#2d3e50;
    cursor: pointer;
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: .1875rem;
    background: lightgrey;
    font-size: 14px;

}

#contactbutton:hover {

color:white;

}

.social {

  width:100%;
  margin-top: 20px;

}

.icons  {

  float:left;
  width: 20%;

}

.icons a {

  color:lightblue;

}

.icons i:hover {

color:white;

}

/* lenguages */

.lenguages {

  min-height: 48px;
  background: #2d3e50;

}

.lenguages-center {

  width: 50%;
  margin:auto;

}

.lenguages-center span {

  margin-right: 20px;
  color:lightblue;

}

.lenguages-center a,.copyright-right a {

text-decoration: none;

}

.lenguages-center span:hover {

color:white;

}

/* copyright */

.copyright {

  background: #2d3e50;
  min-height: 150px;

}

/* copyright left */

.copyright-left {

  float:left;
  width: 50%;
  padding-top: 35px;

}

.copyright-left h3{

  color:white;

}

/* copyright right */

.copyright-right {

  float:left;
  width: 50%;

}

.copyright-right h3{

float:right;
margin-top: 50px;
margin-left: 50px;
font-size: 17px;
color:lightblue;

}

.copyright-right h3:hover {

color:white;

}

/* fine footer */
