/* regole generali */

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.container {

 background-color: #f5f8fa;
}

.center {

  width: 70%;
  margin:auto;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;

}

/* regole header */

.nav {
  /* debug */
  height: 142px;
  margin:auto;
  /* background: red; */
  /* fine debug */
}

.toolbar.center {

  height: 70px;
  /* background: green */
}

.left.clearfix , .right.clearfix {

  float:left;
  position: relative;
  height: 100%;
  width: 50%;

}


/* header > toolbar superiore */

/* left side */

.menutoolbar {

  height: 100%;
  float: left;
  margin-right: 30px;
  font-size: 13px;

}

#linkborder {
    padding: 1px 25px 1px 0;
    border-right: 1px solid black;
}

.menutoolbar a,.menutoolbar i {

  text-decoration: none;
  color:#32495b;
  line-height: 70px;
  cursor:pointer;
}

/* right side */

.button {
  font-size: 13px;
  line-height: 70px;
  margin-left: 40px;
  color:white;
  float:right;
}

.button.colored  a {

  text-decoration: none;
  color:black;
  line-height: 70px;
  cursor:pointer;
  border: 1px solid #ff7a59;
  padding: 10px;
  border-radius: .1875rem;

}

#freehub {
  background: #ff7a59;
  color:white;
}

#login {

 background: white;
 color:#ff7a59;
}

#searchcolor {

  color:blue;
}

/* toolbar inferiore */

/* left side */

.left.clearfix > img {

 position: absolute;
 left:0;
 top:50%;
 transform: translate( 0 , -50%);
}

/* right side */

.right.clearfix span {

  float:right;
  line-height: 70px;
  margin-left: 40px;

}

.right.clearfix a {

  text-decoration: none;
  color: #32495b;
}

/* regole main */

/* jumbotron */
#jumbotron {

 width: 100%;
}

#jumbosection {
  position: relative;
}

.jumbotext{

  position: absolute;
  top:50%;
  left:50%;
  transform: translate( -50%, -50% );
  top:220px;

}

.textjumbo {
  margin-top: 150px;
  height: 100%;
  width: 60%;
  color:#32495b;
}

.textjumbo h1 {

  font-size: 45px;
  margin-bottom: 30px;

}

.buttonjumbo {
  position:relative;
}

.textjumbo a  {

  text-decoration: none;
  color:white;
  cursor:pointer;
  border: 1px solid #ff7a59;
  padding: 20px;
  border-radius: .1875rem;
  background: #ff7a59;

 }

 .jumboitem {
   position: relative;
   margin-bottom: 60px;

 }

 .jumboitem p {

   line-height: 30px;
 }

 .jumboitem h6 {

   font-size: 13px;
 }

/* fine jumbotron */

/* inizio main */

/* inizio columns section */

/* logo */

.cubelogo {

  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
}

.cubelogo img {

  width: 300px;
}

.cubelogo h1 {

  font-size: 35px;
  margin-bottom: 30px;
}

.cubelogo p {

  line-height: 30px;
  margin-bottom:30px;
}

/* hat section */

.hat {
  margin-top: 50px;
  background-color: white;
  box-shadow:0 1px 4px rgba(173,216,230 , 0.2), 0 0 40px rgba(173,216,230 ,0.2)
  inset;
  min-height: 400px;


}

  /* left hat */
.lhat {

  float:left;
  height: 100%;
  width: 33%;
  text-align: center;
}

.lhat img {

  margin-left: 20px;
  margin-top: 70px;
  margin-bottom: 40px;
  width: 170px;
}

.crm-button a  {

  margin-left: 20px;
  text-decoration: none;
  color:white;
  cursor:pointer;
  border: 1px solid #ff7a59;
  padding: 20px 40px 20px 40px;
  border-radius: .1875rem;
  background: #ff7a59;

 }

  /* right hat */
.rhat {
  position: relative;
  float:left;
  height: 100%;
  width: 67%;
  margin-top: 30px;

}

.rhat h3 {
  display: inline-block;
}

.line {
  float:right;
  top:200px;
  left: 250px;
  position: absolute;
  height: 1px;
  width: 450px;
  border-bottom: 2px solid black;
}

.rhat  h1,.rhat p,.hat h3, .rhat span,.rhat i{

  margin-top: 35px;

}

.rhat p {

  line-height: 30px;
}

.rthat span {

  margin-right: 20px;
}

.rhat i {

  margin-left: 20px;
  color:#ff7a59;

}

/* columns */

.columns {

  margin-top: 40px;
  margin-bottom: 20px;

}

.boxes {

  float:left;
  width: 30%;
  background: white;
  box-shadow:0 1px 4px rgba(173,216,230 , 0.2), 0 0 40px rgba(173,216,230 ,0.3)
  inset;

}

#specialbox {

  margin-left: 5%;
  margin-right: 5%;

}


/* parte superiore columns  */

.boxes-img  {

height: 60%;
text-align: center;
margin:auto;

}

.boxes-img img{

  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
  margin-top: 10px;

}

.boxes-img p, .boxes-img h1 {

  margin-top: 30px;
  line-height: 30px;
}

/* parte inferiore columns */

.boxes-item {

  height: 40%;
  margin:30px;
  margin-bottom: 50px;
  text-align: center;
  border-top: 1px solid #32495b;
}

.boxes-item h3 {

  margin-top: 30px;
}

.boxes-item-position {
  margin-top: 50px;
  text-align: left;
  margin-bottom: 80px;
}

.boxes-item-position i {

color:#ff7a59;

}
.crm-button-boxes a  {

  margin-top: 30px;
  text-decoration: none;
  color:white;
  cursor:pointer;
  border: 1px solid #ff7a59;
  padding: 20px 40px 20px 40px;
  border-radius: .1875rem;
  background: #ff7a59;

 }

/* fine columns */

/* inizio grid section */

.gridsection {

  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  padding-bottom: 100px;
  padding-top: 100px;

}

/* parte superiore grid */

.gridtext {

  color:white;
  text-align: center;

}

.gridtext p {

  line-height: 40px;
  margin:40px auto;
  font-size: 14px;

}

.grid {

  /* debug */
  min-height: 400px;
  padding-bottom: 50px;

  /* background: yellow;
  opacity: 0.4; */
  /* fine debug */
}

/* parte inferiore grid */

.gridbox {

  float:left;
  width: 25%;
  height: 200px;
  padding:30px;

  /* debug */
  /* background: red;
  opacity: 0.5;
  color:white; */
  /* fine debug */
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.gridboxup  {

  text-align: center;
  width: 100%;
  min-height: 50%;

}

.gridboxdown  {

  position: relative;

  text-align: center;
  width: 100%;
  min-height: 50%;

}

.gridboxup i {

  width: 100%;
  color:white;
}

.gridboxdown h1 {

  display: inline-block;
  font-size: 40px;
  color:white;
}

.gridboxdown span {

 position: absolute;
 top: 15px;
 font-size: 15px;
 margin-bottom: 50px;
 color:white;
}

.gridboxdown p {

  font-size: 13px;
  margin-top: 20px;
  color:white;

}

.gridbox:nth-child(n+5){

border-bottom: 0;

}

.gridbox:nth-child(4n+4){

  border-right:0;

}







/* fine grid section */

/* inizio prefooter section */

.prefooterlogo {

  /* debug */
  height:300px;
  background: red;
  opacity: 0.3;
  /* fine debug */
}

.prefooterimg {

 /* debug */
 height:500px;
 background: black;
 opacity: 0.3;
}

/* fine prefooter section */

/* inizio footer */

.creditbox {
  float:left;
  width: 20%;
  margin:2%;
    /* debug */
  height:300px;
  background: yellow;
  opacity: 0.5;
  /* fine debug */

}

.credits {

  /* debug */
  height:500px;
  background:blue;
  opacity: 0.5;
  /* fine debug */

}

.contacts {

  /* debug */
  /* height:400px; */
  background:black;
  opacity: 0.5;
  /* fine debug */
}

.lenguages {

  /* debug */
  height: 48px;
  background: red;
  opacity: 0.3;
  /* fine debug */
}
.copyright {

  /* debug */
  height: 100px;
  background: yellow;
  opacity: 0.3;
  /* fine debug */
}

/* fine footer */
